body {
  margin: 0;
  background-color: #1C1C1C;
  font-family: "Karla", sans-serif;
  
}


h1,h2,h3,p{
  margin: 0;
}
span {
  color: #4ADF86 ;
}

button{
  background-color: #10B981;
  color: white;
  border: none;
  padding: 10px 17px 10px 17px;
  border-radius: 10px;
  font-size: 14px;
}


.container{
  margin: 100px auto 0 auto;
  width: 500px;
  background-color: #1F2937 ;
  color: white;
  padding: 80px 50px 80px 50px;
  font-weight: bold;
  border-radius: 10px;
}

.separator-line{
  margin: 30px 0 30px 0;
  border: 1px solid #2F3E53;
  width: 400px;
}

.passwords-container{
  display: flex;
  width: 400px;
  justify-content: space-between;
  color: #55F991;
  margin: 0;
}

.passwords{
  font-size: 13px;
  text-align: center;
  width: 130px;
  background-color: #273549;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
}




